## Importing libraries

In [3]:
import pandas as pd

In [4]:
#Reading the .csv data 
data = pd.read_csv("N:\DATA FILES\HTNDM_202301Q.csv", low_memory=False)

In [5]:
#First few lines of data
data.head()

,mbi_id_orig,DOS,ACCESSION_NUMBER,REQUISITION_NUMBER,LAB_CODE,DATE_OF_COLLECTION,EXTERNAL_PAT_ID,PAT_STATE,PAT_ZIP,DATE_OF_BIRTH,...,DERIVED_ABNORMAL_FLAG,CPT_CODE,COMM_TEXT,ORDERING_SITE_CODE,Elig_Member_Id,npi,unique_linker,DM,HTN,DM_HTN
0,1A02AU0GA19,20230118,WC987960U,96073,NEL,20230118.0,318581,CT,6002.0,19500802,...,NaN,82310,NaN,G3O,1A02AU0GA19,1.043484e+09,1A02AU0GA191A02AU0GA19,0,1,NaN
1,1A02AU0GA19,20230118,WC987960U,96073,NEL,20230118.0,318581,CT,6002.0,19500802,...,L,84443,NaN,G3O,1A02AU0GA19,1.043484e+09,1A02AU0GA191A02AU0GA19,0,1,NaN
2,1A17KC1AE43,20230107,CF851457L,524246,PAW,20230105.0,2055620,NY,11789.0,19551121,...,NaN,83970,Interpretive Guide Intact PTH Cal...,Z99,1A17KC1AE43,1.841397e+09,1A17KC1AE431A17KC1AE43,1,1,1.0
3,1A21Y74TH17,20221231,CF543987L,263362,PAW,20221230.0,E78783971,NJ,7747.0,19551014,...,NaN,U0003,A Not Detected result means that SARS-CoV-2 RN...,Z99,1A21Y74TH17,1.457973e+09,1A21Y74TH171A21Y74TH17,0,1,NaN
4,1A24KC7UX79,20230120,PZ905044B,65102,PIT,20230120.0,E00182198,OH,44512.0,19450319,...,NaN,80061,NaN,TJY,1A24KC7UX79,1.972580e+09,1A24KC7UX791A24KC7UX79,1,0,NaN

In [6]:
data.mbi_id_orig.value_counts()

mbi_id_orig
5HR3K45NH90    377
4J76AR0TP67    324
8X66DV4NV71    215
3PN9W90GV25    210
7ET9H60XR46    204
              ...
3V29MD8FA41      1
6FE0HT2DN02      1
3UP9P46HX30      1
3UK3UK0JW83      1
4G71WX9PH92      1
Name: count, Length: 5684, dtype: int64

In [12]:
data.CPT_CODE.dtypes

dtype('O')

### Data Description

In [2]:
##### This dataset is generated from Quest, a major U.S. medical laboratory. The set contains:-

##### 1) mbi_id_orig = Medicare Beneficiary unique patient identifiers.

##### 2) DOS = dates of service and collection.

##### 3) Accession_Number = A unique identifier of the submitted Report.

##### 4) Requisition Number =  A requisition number serves as a unique identifier for tracking purposes. 

##### 5) Lab_Code = Code for the lab.

##### 6) Date_of_collection = The date on which the sample was collected for the test.

##### 7) External_Pat_ID = External Patient ID that identifies a record in the original data source.

##### 8) Pat_State = Patient's State.

##### 9) Pat_Zip = Patient's Zip code.

##### 10) Date_of_Birth = Patient's Date of birth.

##### 11) Age = Patient's Age.

##### 12) Gender = Patient's Gender.

##### 13) Bill_Code = Billing Code.

##### 14) Policy_Number = Patient's policy number, which is a unique identifier assigned to an insurance policy that helps the insurer track the insured’s coverage.

##### 15) Medicaid = Medicaid provides health coverage to millions of Americans, including eligible low-income adults, children, pregnant women, elderly adults and people with disabilities.  Medicaid is administered by states, according to federal requirements.  The program is funded jointly by states and the federal government.

##### 16) Medicare = Your Medicare card has a unique number that’s distinct from your Social Security Number. This helps protect your identity.

##### 17) Medicaid_No = Health Coverage Number for the Patient provided by federal government. 

##### 18) Medicare_No = Patient's Medicare number, which is a unique number, that helps protect their identity.

##### 19) Phy_Name = Name of the Physician.

##### 20) UPIN = Unique Physician Identification Number (A UPIN is a six-position alphanumeric identifier that is assigned to all Medicare physicians, medical groups and non-physician practitioners.)

##### 21) DIAG_CODE1 to DIAG_CODE10 = (ICD-10 Code - The International Classification of Diseases, Tenth Revision (ICD-10) is used by healthcare providers to classify and code every disease, symptom, and injury to submit insurance claims or prior authorizations. ICD-10 codes consist of up to seven characters that classify medical diagnoses in a specific way. The first three characters—a letter and two numbers—classify the disease or health conditio. After the first three characters is a period. The next three numbers describe the cause of the disease, how severe it is, or where in the body it is located (including whether it is on the left side, right side, or boEach ICD-10 code starts with a capital letter from A to Z, The letters broadly categorize the nature of the diagnosis. For example: - E means: Endocrine, nutritional, or metabolict.

##### 22) Local_Profile_Code = Unknown.

##### 23) Standard_Profile_Code = Unknown.

##### 24) Profile_Name = Profile Name is a comprehensive summary of health-related information for an individual patient.

##### 25) Local_Order_Code = Unknown.

##### 26) Standard_Order_Code = Unknown.

##### 27) Order_Name = May be name of the Test that needs to be performed.

##### 28) LOINC_Code = LOINC is a code system (i.e., set of identifiers, names, and codes) for clinical and laboratory observations, health care screening/survey instruments, and document type identifiers. Each LOINC record corresponds to a single observation of almost any type (i.e., observables) and is best known for concepts that represent laboratory tests. The LOINC code for a name is unique and permanent. Systems should always transmit LOINC codes with a hyphen before the check digit (e.g., 10154-3) and transmit the numeric code as a variable length number, without leading zeros.

##### 29) Local_Result_Code = Test result code.

##### 30) Result_Name = Test result name.

##### 31) Result_Value_A = Test result Value.

##### 32) Units = Test results unit of measurements.

##### 33) Ref_Range_Low = low reference range for "normal" results.

##### 34) Ref_Range_High = high reference range for "normal" results.

##### 35) Ref_Range_Alpha = reference ranges for "normal" results.

##### 36) Derived_Abnormal_Flag = It tells if the lab values or result values are out of the normal range. (H= High, L=Low and A=Abnormal).

##### 37) CPT_Code = Current Procedural Terminology (CPT) codes are standardized terms and codes used by healthcare providers to describe and report medical procedures and services.CPT codes can be either numeric or alphanumeric and are five digits long. To add more information about a procedure, modifiers can be used, which are two-digit codes that may indicate the complexity of the service or note what part of the service was performed.

##### 38) COMM-TEXT = Comments.

##### 39) Ordering_Site_Code = Ordering Site Codes are used to specify the location or entity where a medical service was rendered. These codes are essential for accurate billing and reimbursement.

##### 40) Elig_Member_Id = Eligible Patient's Member Id, which is the member ID card (or health plan ID card) which prooves that you have health insurance.

##### 41) npi = The National Provider Identifier (NPI) is a unique 10-digit number used to identify health care providers.

##### 42) Unique_linker = Unknown.

##### 43) DM = Diabetes Mellites or Diabetes.

##### 44) HTN = Hypertension or high blood pressure.

##### 45) DM-HTN = patients with both Diabetes Mellites or Diabetes and Hypertension or high blood pressure. .

In [60]:
#Finding the shape of data
rows, cols = data.shape
print("Rows: " + str(rows) + "\nColumns: " + str(cols) )

ValueError: not enough values to unpack (expected 2, got 1)

In [61]:
#Chceking the data types of the columns
data.dtypes

AttributeError: 'numpy.ndarray' object has no attribute 'dtypes'

In [62]:
#Describing the data
data.describe()

AttributeError: 'numpy.ndarray' object has no attribute 'describe'

In [63]:
#Checking all the columns
data.columns

AttributeError: 'numpy.ndarray' object has no attribute 'columns'

## Data Pre-processing or Cleaning the data

In [9]:
#Changing the format of the date columns, as the given date format is not easy to read.

#Changing the format of DOS.
from datetime import datetime

data['DOS'] =  pd.to_datetime(data['DOS'],format='%Y%m%d')
data.DOS

0        2023-01-18
1        2023-01-18
2        2023-01-07
3        2022-12-31
4        2023-01-20
            ...
160901   2022-12-31
160902   2023-01-05
160903   2023-01-13
160904   2023-01-13
160905   2023-01-13
Name: DOS, Length: 160906, dtype: datetime64[ns]

In [10]:
#Changing the format of Date of Collecion.
data['DATE_OF_COLLECTION'] =  pd.to_datetime(data['DATE_OF_COLLECTION'],format='%Y%m%d')
data.DATE_OF_COLLECTION

0        2023-01-18
1        2023-01-18
2        2023-01-05
3        2022-12-30
4        2023-01-20
            ...
160901   2022-12-29
160902   2023-01-04
160903   2023-01-13
160904   2023-01-13
160905   2023-01-13
Name: DATE_OF_COLLECTION, Length: 160906, dtype: datetime64[ns]

In [11]:
#Changing the format of Date of Birth.
data['DATE_OF_BIRTH'] =  pd.to_datetime(data['DATE_OF_BIRTH'],format='%Y%m%d')
data.DATE_OF_BIRTH

0        1950-08-02
1        1950-08-02
2        1955-11-21
3        1955-10-14
4        1945-03-19
            ...
160901   1938-11-29
160902   1934-02-01
160903   1941-09-11
160904   1941-09-11
160905   1941-09-11
Name: DATE_OF_BIRTH, Length: 160906, dtype: datetime64[ns]

In [137]:
# Removing Unwanted columns from the data.

#ACCESSION_NUMBER, External_Pat_ID, Bill_Code, Policy_Number, Medicaid_No, Phy_Name, UPIN, Local_Profile_Code, Standard_Profile_Code, Profile_Name, Local_Order_Code, Standard_Order_Code,
#Local_Result_Code, Units, Ref_Range_Alpha, COMM-TEXT, Ordering_Site_Code, Elig_Member_Id, Unique_linker

data = data.drop(columns=["ACCESSION_NUMBER","LAB_CODE","EXTERNAL_PAT_ID","BILL_CODE","POLICY_NUMBER","MEDICAID_NO","PHY_NAME","UPIN","LOCAL_PROFILE_CODE","STANDARD_PROFILE_CODE","PROFILE_NAME","LOCAL_ORDER_CODE",
                          "STANDARD_ORDER_CODE","LOCAL_RESULT_CODE","UNITS","REF_RANGE_ALPHA","COMM_TEXT","ORDERING_SITE_CODE","Elig_Member_Id","unique_linker"])

In [138]:
#Checking the shape of the data again
rows, cols = data.shape
print("Rows: " + str(rows) + "\nColumns: " + str(cols) )

Rows: 160906
Columns: 32

In [139]:
#The final columns
data.columns

Index(['mbi_id_orig', 'DOS', 'REQUISITION_NUMBER', 'DATE_OF_COLLECTION',
       'PAT_STATE', 'PAT_ZIP', 'DATE_OF_BIRTH', 'AGE', 'GENDER', 'MEDICARE_NO',
       'DIAG_CODE1', 'DIAG_CODE2', 'DIAG_CODE3', 'DIAG_CODE4', 'DIAG_CODE5',
       'DIAG_CODE6', 'DIAG_CODE7', 'DIAG_CODE8', 'DIAG_CODE9', 'DIAG_CODE10',
       'ORDER_NAME', 'LOINC_CODE', 'RESULT_NAME', 'RESULT_VALUE_A',
       'REF_RANGE_LOW', 'REF_RANGE_HIGH', 'DERIVED_ABNORMAL_FLAG', 'CPT_CODE',
       'npi', 'DM', 'HTN', 'DM_HTN'],
      dtype='object')

In [140]:
data.head()

,mbi_id_orig,DOS,REQUISITION_NUMBER,DATE_OF_COLLECTION,PAT_STATE,PAT_ZIP,DATE_OF_BIRTH,AGE,GENDER,MEDICARE_NO,...,RESULT_NAME,RESULT_VALUE_A,REF_RANGE_LOW,REF_RANGE_HIGH,DERIVED_ABNORMAL_FLAG,CPT_CODE,npi,DM,HTN,DM_HTN
0,1A02AU0GA19,2023-01-18,96073,2023-01-18,CT,6002.0,1950-08-02,72,F,1A02AU0GA19,...,CALCIUM,9.4,8.6,10.4,NaN,82310,1.043484e+09,0,1,NaN
1,1A02AU0GA19,2023-01-18,96073,2023-01-18,CT,6002.0,1950-08-02,72,F,1A02AU0GA19,...,TSH,0.03,0.4,4.5,L,84443,1.043484e+09,0,1,NaN
2,1A17KC1AE43,2023-01-07,524246,2023-01-05,NY,11789.0,1955-11-21,67,M,1A17KC1AE43,...,"PARATHYROID HORMONE, INTACT",50,16.0,77.0,NaN,83970,1.841397e+09,1,1,1.0
3,1A21Y74TH17,2022-12-31,263362,2022-12-30,NJ,7747.0,1955-10-14,67,M,1A21Y74TH17,...,SARS CoV 2 RNA,NOT DETECTED,NaN,NaN,NaN,U0003,1.457973e+09,0,1,NaN
4,1A24KC7UX79,2023-01-20,65102,2023-01-20,OH,44512.0,1945-03-19,77,F,1A24KC7UX79,...,"CHOLESTEROL, TOTAL",153,NaN,199.0,NaN,80061,1.972580e+09,1,0,NaN

In [141]:
#Checking the data types again
data.dtypes

mbi_id_orig                      object
DOS                      datetime64[ns]
REQUISITION_NUMBER               object
DATE_OF_COLLECTION       datetime64[ns]
PAT_STATE                        object
PAT_ZIP                         float64
DATE_OF_BIRTH            datetime64[ns]
AGE                               int64
GENDER                           object
MEDICARE_NO                      object
DIAG_CODE1                       object
DIAG_CODE2                       object
DIAG_CODE3                       object
DIAG_CODE4                       object
DIAG_CODE5                       object
DIAG_CODE6                       object
DIAG_CODE7                       object
DIAG_CODE8                       object
DIAG_CODE9                       object
DIAG_CODE10                      object
ORDER_NAME                       object
LOINC_CODE                       object
RESULT_NAME                      object
RESULT_VALUE_A                   object
REF_RANGE_LOW                   float64
REF_RANGE_HIGH                  float64
DERIVED_ABNORMAL_FLAG            object
CPT_CODE                         object
npi                             float64
DM                                int64
HTN                               int64
DM_HTN                          float64
dtype: object

In [142]:
#Checking the null values
data.isnull().sum()

mbi_id_orig                   0
DOS                           0
REQUISITION_NUMBER            0
DATE_OF_COLLECTION         2091
PAT_STATE                  2061
PAT_ZIP                    2035
DATE_OF_BIRTH                 0
AGE                           0
GENDER                        0
MEDICARE_NO               16324
DIAG_CODE1                 8314
DIAG_CODE2                35911
DIAG_CODE3                56426
DIAG_CODE4                79021
DIAG_CODE5               100515
DIAG_CODE6               117000
DIAG_CODE7               128302
DIAG_CODE8               136483
DIAG_CODE9               143514
DIAG_CODE10              148764
ORDER_NAME                   66
LOINC_CODE                 2946
RESULT_NAME                   2
RESULT_VALUE_A             3052
REF_RANGE_LOW             50758
REF_RANGE_HIGH            39982
DERIVED_ABNORMAL_FLAG    141116
CPT_CODE                   9405
npi                        2326
DM                            0
HTN                           0
DM_HTN                   142980
dtype: int64

In [144]:
#Dropping all the null values from DATE_OF_COLLECTION column

data = data.dropna(subset=['DATE_OF_COLLECTION'])

In [145]:
#Dropping all the null values from PAT_STATE column

data = data.dropna(subset=['PAT_STATE'])

In [146]:
#Dropping all the null values from PAT_ZIP column

data = data.dropna(subset=['PAT_ZIP'])

In [ ]:
#Replacing all the blank rows of DIAG_CODE1 to DIAG_CODE10 with N/A
data['DIAG_CODE1'] = data['DIAG_CODE1'].fillna('N/A')
data['DIAG_CODE2'] = data['DIAG_CODE2'].fillna('N/A')
data['DIAG_CODE3'] = data['DIAG_CODE3'].fillna('N/A')
data['DIAG_CODE4'] = data['DIAG_CODE4'].fillna('N/A')
data['DIAG_CODE5'] = data['DIAG_CODE5'].fillna('N/A')
data['DIAG_CODE6'] = data['DIAG_CODE6'].fillna('N/A')
data['DIAG_CODE7'] = data['DIAG_CODE7'].fillna('N/A')
data['DIAG_CODE8'] = data['DIAG_CODE8'].fillna('N/A')
data['DIAG_CODE9'] = data['DIAG_CODE9'].fillna('N/A')
data['DIAG_CODE10'] = data['DIAG_CODE10'].fillna('N/A')

In [147]:
#Dropping all the null values from ORDER_NAME column

data = data.dropna(subset=['ORDER_NAME'])

In [148]:
#Dropping all the null values from LOINC_CODE column

data = data.dropna(subset=['LOINC_CODE'])

In [149]:
#Dropping all the null values from RESULT_NAME column

data = data.dropna(subset=['RESULT_NAME'])

In [150]:
#Dropping all the null values from RESULT_VALUE_A column

data = data.dropna(subset=['RESULT_VALUE_A'])

In [151]:
#Dropping all the null values from REF_RANGE_LOW column

data = data.dropna(subset=['REF_RANGE_LOW'])

In [152]:
#Dropping all the null values from REF_RANGE_HIGH column

data = data.dropna(subset=['REF_RANGE_HIGH'])

In [ ]:
#Replacing all the null values of CPT_CODE with N/A
data['CPT_CODE'] = data['CPT_CODE'].fillna('N/A')

In [ ]:
#Dropping all the null values from npi column
data = data.dropna(subset=['npi'])

In [153]:
#Replacing all the blank rows of DM_HTN with 0
data['DM_HTN'] = data['DM_HTN'].fillna(0)

In [156]:
#Checking the null values again
data.isnull().sum()

mbi_id_orig                  0
DOS                          0
REQUISITION_NUMBER           0
DATE_OF_COLLECTION           0
PAT_STATE                    0
PAT_ZIP                      0
DATE_OF_BIRTH                0
AGE                          0
GENDER                       0
MEDICARE_NO               5927
DIAG_CODE1                   0
DIAG_CODE2                   0
DIAG_CODE3                   0
DIAG_CODE4                   0
DIAG_CODE5                   0
DIAG_CODE6                   0
DIAG_CODE7                   0
DIAG_CODE8                   0
DIAG_CODE9                   0
DIAG_CODE10                  0
ORDER_NAME                   0
LOINC_CODE                   0
RESULT_NAME                  0
RESULT_VALUE_A               0
REF_RANGE_LOW                0
REF_RANGE_HIGH               0
DERIVED_ABNORMAL_FLAG    90345
CPT_CODE                     0
npi                          0
DM                           0
HTN                          0
DM_HTN                       0
dtype: int64

## Datatypes

In [157]:
#Checking the datatypes
data.dtypes

mbi_id_orig                      object
DOS                      datetime64[ns]
REQUISITION_NUMBER               object
DATE_OF_COLLECTION       datetime64[ns]
PAT_STATE                        object
PAT_ZIP                         float64
DATE_OF_BIRTH            datetime64[ns]
AGE                               int64
GENDER                           object
MEDICARE_NO                      object
DIAG_CODE1                       object
DIAG_CODE2                       object
DIAG_CODE3                       object
DIAG_CODE4                       object
DIAG_CODE5                       object
DIAG_CODE6                       object
DIAG_CODE7                       object
DIAG_CODE8                       object
DIAG_CODE9                       object
DIAG_CODE10                      object
ORDER_NAME                       object
LOINC_CODE                       object
RESULT_NAME                      object
RESULT_VALUE_A                   object
REF_RANGE_LOW                   float64
REF_RANGE_HIGH                  float64
DERIVED_ABNORMAL_FLAG            object
CPT_CODE                         object
npi                             float64
DM                                int64
HTN                               int64
DM_HTN                          float64
dtype: object

In [161]:
#converting the datatypes

#Coverting REQUISITION_NUMBER into Integer
data["REQUISITION_NUMBER"] = data["REQUISITION_NUMBER"].astype(int)

#Coverting PAT_ZIP into Integer
data["PAT_ZIP"] = data["PAT_ZIP"].astype(int)

#Coverting npi into Integer
data["npi"] = data["npi"].astype(int)

#Coverting DM_HTN into Integer
data["DM_HTN"] = data["DM_HTN"].astype(int)

In [162]:
data.dtypes

mbi_id_orig                      object
DOS                      datetime64[ns]
REQUISITION_NUMBER                int32
DATE_OF_COLLECTION       datetime64[ns]
PAT_STATE                        object
PAT_ZIP                           int32
DATE_OF_BIRTH            datetime64[ns]
AGE                               int64
GENDER                           object
MEDICARE_NO                      object
DIAG_CODE1                       object
DIAG_CODE2                       object
DIAG_CODE3                       object
DIAG_CODE4                       object
DIAG_CODE5                       object
DIAG_CODE6                       object
DIAG_CODE7                       object
DIAG_CODE8                       object
DIAG_CODE9                       object
DIAG_CODE10                      object
ORDER_NAME                       object
LOINC_CODE                       object
RESULT_NAME                      object
RESULT_VALUE_A                   object
REF_RANGE_LOW                   float64
REF_RANGE_HIGH                  float64
DERIVED_ABNORMAL_FLAG            object
CPT_CODE                         object
npi                               int32
DM                                int64
HTN                               int64
DM_HTN                            int32
dtype: object

In [231]:
#Converting RESULT_VALUE_A object type column into float
#data['RESULT_VALUE_A'] = data['RESULT_VALUE_A'].replace('NOT APPLICABLE', '', regex=True)


data = data[data["RESULT_VALUE_A"].str.contains("NOT APPLICABLE|YELLOW|CLEAR|NEGATIVE|Nonreactive|<1|0-5|NONE SEEN|< OR = 5.0|0-2|>2000|40-60|<3|<0.01|TNP/124|> OR = 60|10-Jun|10-Mar|TNP/945|20-Oct|PACKED|TNP/637|TNP/564|<5|TNP/130|TNP/117|<0.1|NOTE|<4|<0.7|<0.2|20-40|TNP/1746|TNP/121|TNP/154|TNP/317|<6|> OR = 9.0|>130|TNP/109|>60|TNP/202|TNP/202|TNP/152|TNP/1220|>300|<0.5|TNP/521|<8|TNP/120|> OR = 1.045|TNP/563|TNP/220|<20|TNP/1849")==False]

data["RESULT_VALUE_A"] = data["RESULT_VALUE_A"].astype(float)

In [ ]:
#Convert these columns into Categorical columns - Gender, DERIVED_ABNORMAL_FLAG     

#Alphanumeric columns are - mbi_id_orig, MEDICARE_NO, DIAG_CODE1 - DIAG_CODE10, CPT_CODE
# Character columns - PAT_STATE and RESULT_NAME

In [233]:
data.head()

,mbi_id_orig,DOS,REQUISITION_NUMBER,DATE_OF_COLLECTION,PAT_STATE,PAT_ZIP,DATE_OF_BIRTH,AGE,GENDER,MEDICARE_NO,...,RESULT_NAME,RESULT_VALUE_A,REF_RANGE_LOW,REF_RANGE_HIGH,DERIVED_ABNORMAL_FLAG,CPT_CODE,npi,DM,HTN,DM_HTN
0,1A02AU0GA19,2023-01-18,96073,2023-01-18,CT,6002,1950-08-02,72,F,1A02AU0GA19,...,CALCIUM,9.40,8.6,10.4,NaN,82310,1043484264,0,1,0
1,1A02AU0GA19,2023-01-18,96073,2023-01-18,CT,6002,1950-08-02,72,F,1A02AU0GA19,...,TSH,0.03,0.4,4.5,L,84443,1043484264,0,1,0
2,1A17KC1AE43,2023-01-07,524246,2023-01-05,NY,11789,1955-11-21,67,M,1A17KC1AE43,...,"PARATHYROID HORMONE, INTACT",50.00,16.0,77.0,NaN,83970,1841396546,1,1,1
10,1A24KC7UX79,2023-01-20,65102,2023-01-20,OH,44512,1945-03-19,77,F,1A24KC7UX79,...,GLUCOSE,149.00,65.0,139.0,H,80053,1972579928,1,0,0
11,1A24KC7UX79,2023-01-20,65102,2023-01-20,OH,44512,1945-03-19,77,F,1A24KC7UX79,...,UREA NITROGEN (BUN),27.00,7.0,25.0,H,80053,1972579928,1,0,0